body {
  background-color: white;
}

.header, .footer {
  background-color: green;
  color: white;
  padding: 1px;
  text-align: center;
  font-size: 25px;
}

.header {
  font-family:'Times New Roman', Times, serif;
}
.footer {
  font-family:Arial, Helvetica, sans-serif;
}

.content {
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 0px;
  margin-left: 30%;
  margin-right: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
*h1{
  font-size: 3em;
}  

.square {
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 20px 0 20px 0; 
  position: relative; 
  float: left;
  margin: 10px;
  margin-right: 20px;
}  

.link{
  text-align: center;
  font-size: 15pt;
}

a:link{
  color: red;
}
.Here{
  word-spacing: 10px;
}

.list {
  margin-left: 10px;
  line-height: 1.5;
}

.value2{
  color:aqua;
  font-size: larger;
  letter-spacing: 10px;
}

.visual_styles{
  display: inline-block;
  clear: left;
}

.line_through{
  text-decoration: line-through;
}

.table{
  float: right;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  overflow: auto;
}

td{
  width: 50px; 
  height: 40px; 
  border: solid 1px silver; 
  text-align: center;
  vertical-align: bottom;
  margin: 0;
}
img{
  visibility: visible;
  float: right;
  margin-top: 10px;
  position: sticky;
}
